<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Password</title>
        <style>
            * {
                font-size: 14px;
                font-family: "Poppins", sans-serif;
            }
            .error {
                color: red;
                margin-bottom: 1rem;
            }
            .cur {
                cursor: pointer;
            }
            .center {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .form-style {
                display: grid;
                gap: 0.5rem;
                grid-template-columns: auto 1fr;
                max-width: 500px;
                margin: 15px auto;
            }
            button {
                color: white;
                background: #007bff;
                border: none;
                padding: 4px 10px;
                border-radius: 10px;
            }
        </style>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <form method="post">
            <div class="form-style">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required />
            </div>
            <div class="center">
                <button class="cur" type="submit" style="grid-column: span 2">
                    Download
                </button>
            </div>
        </form>
        <% if (locals.error) { %>
        <div class="error center" style="margin: 1rem">Incorrect Password!</div>
        <% } %>
    </body>
</html>
